
<div class="jumbotron mt-40">
  <h1 class="display-4">Bienvenue!</h1>
  <p class="lead">Dieunde est la plateforme de vente en ligne au Sénégal</p>
  <hr class="my-4">
  <div class="input-group mb-3 container">
    <input type="text" class="form-control" placeholder="Ex: iPhone 12" aria-label="Rechercher" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Rechercher</button>
    </div>
  </div>
</div>
<h2 class="text-center">Produits</h2>
<div class="produits container">

  <% @produits.each do |produit| %>
  <div class="card produit">
    <div class="col-md-3">
      <%= (image_tag produit.images.first, class: 'card-img-top') if produit.images.attached? %>
    </div>

  <div class="card-body col-md-8 offset-1">
    <h5 class="card-title"><%= produit.nom %></h5>
    <p class="card-text"><%= produit.description %></p>
    <p class="card-text"><%= produit.prix %> cfa</p>
    <p class="badge bg-secondary"><%=produit.catégorie %></p> <br/>
    <%= link_to "Voir", produit_path(produit), class:"btn btn-primary" %>
  </div>
</div>
  <% end %>
</div>
