
<div class="jumbotron mt-40">
  <h1 class="display-4">Bienvenue!</h1>
  <p class="lead">Dieunde est la plateforme de vente en ligne au Sénégal</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
<h2>Produits</h2>
<div class="produits container">
<div class="row">

  <% @produits.each do |produit| %>
  <div class="card produit" style="width: 18rem;">
  <!-- <img class="card-img-top" src="..." alt=<%= produit.nom %>> -->
  <% produit.images.each do |file| %>
    <%= image_tag(rails_blob_path(file, disposition: :inline), class: "card-img-top") %>
  <% end %>

  <div class="card-body">
    <h5 class="card-title"><%= produit.nom %></h5>
    <p class="card-text"><%= produit.description %></p>
    <p class="card-text"><%= produit.prix %> cfa</p>

    <a href="#" class="btn btn-primary">Voir</a>
  </div>
</div>
  <% end %>
  </div>
</div>
